# --- Python Specific ---
*.pyc
__pycache__/

# --- Environment Configuration ---
.env
.env.local

# --- Project Specific (Ignore everywhere) ---
# Ignores 'mps_cache' folders in any directory
**/mps_cache/

# Ignore data exports and charts
*.xlsx
*.csv
*.png

# Ignore virtual environments (Standard practice)
venv/
.venv/
.env
.venv
